*{
    margin: 0;
    padding: 0;
}
.click-hover:hover{
    color: white;
}
.click-hover{
    position: relative;
}
.click-hover::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background: white;
    transition: 0.25s ease-out;
}
.click-hover:hover::before{
    width: 100%;
}
.white-hover{
    color: rgb(165, 165, 165);
}
.white-hover:hover{
    color: white;
}
.img-div-width{
    width: 43%;
    margin-bottom: 20px;
    padding-left: 30px;
}
.width-aside{
    width: 14vw;
}
.overflow{
    height: 90vh;
    overflow: scroll;
    overflow-x: hidden;
}
.text-ctr{
    margin-left: 39%;
}
.top-bottom{
    top: 15%;
    left: 30%;
}
.f-size{
    font-size: 50px;
}
.img-cake-left{
    left: 37%;
}
.card-width{
    width: 24%;
    box-shadow: 0 0 2px 2px rgb(210, 210, 210);
    border-radius: 10px;
}
.fa-star{
    margin-right: 8px;
}
.fa-star-half-stroke{
    margin-right: 8px;
}
.line-through{
    color: rgb(175, 175, 175);
    text-decoration: line-through;
}
.img-width{
    width: 17%;
}
.height{
    margin-top: 28px;
}